<h1> Pick Your Exercise </h1>

	<p>Food: <%=@foodName%></p> 
	<p>Calories: <%=@foodCal%></p>

<div>

		<li>Running
		<p>Time: <%=@time%> mins</p>

		</li>
		<li>Walking

		</li>
		<li>Swimming

		</li>

		
</div>