<nav class=" cyan lighten-4">
  <div class="nav-wrapper" >
    <a href="/food/search" class="brand-logo">Search The Nommmssss</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user != nil %>
        <li><%=link_to "Home", '/'%>
        <li class ='black-text' ><%= link_to "Profile", user_path(current_user)%>
        <li class = 'black-text' ><%= link_to "Logout", '/sessions', method: :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>





