// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#search_page{
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
}

	
#search_results{
	text_align: center;
	margin-left: 120px;
	margin-right: 120px;
	font-size: 16px;
	color: black;
	
}
