// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_showpage{
	text_align: center;
}

body{
	
  background: fixed;
  background-image: image-url('People-exercise-in-park-ppt-templates-1024x768.jpg');
  background-size: 100%;

}