// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_show{
	text-align:center;

}

#home_page{
	text_align: center;
	
}

#food{
	margin-left: 80px;
	margin-right: 80px;
}

.creation{
	text_align: center;
}

#picture{
	background-image: url("People-exercise-in-park-ppt-templates-1024x768.jpg") ;
	background-size: 40%;

}

#font_color{
	color: #FFFFFF;
}

#font_color2{
	color: #000000;
}
